body {
    font-family: 'Abel', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 20px;
    padding: 0;
}

.tituloprincipal {
    color: #3cb371; /* verde */
    text-align: center;
    font-size: 36px;
}

h2 {
    color: #ff69b4; /* rosa */
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #3cb371;
    border-radius: 8px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff85c1;
}